{
	"swagger" : "2.0",
	"info" : {
		"version" : "1.0",
		"title" : "ITV Mercury",
		"description" : "The ITV Mercury API allows access to broadcast metadata from the ITV platform",
		"license" : {
			"name" : "MIT",
			"url" : "https://opensource.org/licenses/MIT"
		}
	},
	"host" : "mercury.itv.com",
	"basePath" : "/",
	"securityDefinitions" : {},
	"schemes" : [
		"http"
	],
	"consumes" : [
		"application/json"
	],
	"produces" : [
		"application/xml",
		"application/json"
	],
	"parameters" : {
		"target": {
			"name" : "target",
			"in" : "path",
			"required" : true,
			"type" : "string",
			"enum": [
				"xml",
				"json"
			]
		},
		"platform": {
			"name" : "platform",
			"in" : "path",
			"required" : true,
			"type" : "string",
			"enum" : [
				"dotcom",
				"mobile",
				"android",
				"samsung",
				"ps3",
				"youview"
			]
		},
		"screensize": {
			"name" : "screensize",
			"in" : "query",
			"required" : true,
			"type" : "string"
		},
		"broadcaster": {
			"name" : "broadcaster",
			"in" : "query",
			"required" : true,
			"type" : "string"
		}
	},
	"paths" : {
		"/api/{target}/{platform}/Episode/Programme/{programmeId}" : {
			"get" : {
				"description" : "Get Mercury programme details",
				"operationId" : "Get_Mercury programme details_",
				"produces" : [
					"application/xml",
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "programmeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/ByDate/{year}/{month}/{day}" : {
			"get" : {
				"description" : "Get Mercury Episode by Date",
				"operationId" : "Get_Mercury Episode by Date_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{

						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "year",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format": "int32"
					},
					{
						"name" : "month",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format": "int32"
					},
					{
						"name" : "day",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format": "int32"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/programme/perchannel/AD/{channelName}/{resultCount}" : {
			"get" : {
				"description" : "Get Mercury audio-described (limited)",
				"operationId" : "Get_Mercury audio-described (limited)_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{

						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "channelName",
						"in" : "path",
						"required" : true,
						"type" : "string"
					},
					{
						"name" : "resultCount",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format": "int32"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Programme/Search/{searchTerm}" : {
			"get" : {
				"description" : "Get Mercury search",
				"operationId" : "Get_Mercury search_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{

						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "searchTerm",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/MostWatched" : {
			"get" : {
				"description" : "Get Mercury most-watched",
				"operationId" : "Get_Mercury most-watched_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Programme/PerChannel/{channelName}" : {
			"get" : {
				"description" : "Get Mercury per channel",
				"operationId" : "Get_Mercury per channel_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "channelName",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/index/{episodeId}" : {
			"get" : {
				"description" : "Get Mercury episode index",
				"operationId" : "Get_Mercury episode index_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "episodeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/whatsonschedule/today" : {
			"get" : {
				"description" : "Get Mercury schedule today",
				"operationId" : "Get_Mercury schedule today_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/programme/perchannel/AD/{channelName}" : {
			"get" : {
				"description" : "Get Mercury audio-described",
				"operationId" : "Get_Mercury audio-described_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "channelName",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/errorlog.aspx/digestrss" : {
			"get" : {
				"description" : "Get Mercury error log digest",
				"operationId" : "Get_Mercury error log digest_",
				"produces" : [
					"application/json"
				],
				"parameters" : [],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/episode/programme/{episodeId}" : {
			"get" : {
				"description" : "Get Mercury episode/programme",
				"operationId" : "Get_Mercury episode/programme_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "episodeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/postcode/{postcode}" : {
			"get" : {
				"description" : "Get Mercury Postcode",
				"operationId" : "Get_Mercury Postcode_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "postcode",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/whatsonschedule/{date}" : {
			"get" : {
				"description" : "Get Mercury schedule by date",
				"operationId" : "Get_Mercury schedule by date_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "date",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/errorlog.aspx/download" : {
			"get" : {
				"description" : "Get Mercury error log download",
				"operationId" : "Get_Mercury error log download_",
				"produces" : [
					"application/json"
				],
				"parameters" : [],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/programme/index/{programmeId}" : {
			"get" : {
				"description" : "Get Mercury programme index",
				"operationId" : "Get_Mercury programme index_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "programmeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/Crucial" : {
			"get" : {
				"description" : "Get Mercury crucial",
				"operationId" : "Get_Mercury crucial_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/whatsonschedule/yesterday" : {
			"get" : {
				"description" : "Get Mercury schedule yesterday",
				"operationId" : "Get_Mercury schedule yesterday_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/errorlog.aspx/rss" : {
			"get" : {
				"description" : "Get Mercury error log",
				"operationId" : "Get_Mercury error log_",
				"produces" : [
					"application/json"
				],
				"parameters" : [],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/schedule" : {
			"get" : {
				"description" : "Get Mercury current schedule",
				"operationId" : "Get_Mercury current schedule_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/lastweek" : {
			"get" : {
				"description" : "Get Mercury lastweek",
				"operationId" : "Get_Mercury lastweek_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/TopTen" : {
			"get" : {
				"description" : "Get Mercury top ten",
				"operationId" : "Get_Mercury top ten_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Programme/PerChannel/{channelName}/{resultCount}" : {
			"get" : {
				"description" : "Get Mercury per channel (limited)",
				"operationId" : "Get_Mercury per channel (limited)_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "channelName",
						"in" : "path",
						"required" : true,
						"type" : "string"
					},
					{
						"name" : "resultCount",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format": "int32"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Programme/SearchAtoZ/{characterFilter}" : {
			"get" : {
				"description" : "Get Mercury Search AtoZ",
				"operationId" : "Get_Mercury Search AtoZ_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "characterFilter",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}" : {
			"get" : {
				"description" : "Get Mercury Menu",
				"operationId" : "Get_Mercury Menu_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/{platform}/programme/{programmeId}/image.jpg" : {
			"get" : {
				"description" : "Get Mercury image by programme id",
				"operationId" : "Get_Mercury image by programme id_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "w",
						"in" : "query",
						"required" : true,

						"type" : "integer",
						"format" : "int32"
					}, {
						"name" : "h",
						"in" : "query",
						"required" : true,
						"type" : "integer",
						"format" : "int32"
					},
					{
						"name" : "programmeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/linking/{yyyymmdd}" : {
			"get" : {
				"description" : "Get Mercury BBC Interlinking",
				"operationId" : "Get_Mercury BBC Interlinking_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"name" : "yyyymmdd",
						"in" : "path",
						"required" : true,
						"type" : "string"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/{target}/{platform}/Episode/Carousel" : {
			"get" : {
				"description" : "Get Mercury carousel",
				"operationId" : "Get_Mercury carousel_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/target"
					},
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/{platform}/episode/{episodeId}/image.jpg" : {
			"get" : {
				"description" : "Get Mercury image by episodeId",
				"operationId" : "Get_Mercury image by episodeId_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/platform"
					},
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "episodeId",
						"in" : "path",
						"required" : true,
						"type" : "string"
					},
					{
						"name" : "w",
						"in" : "query",
						"required" : true,
						"type" : "integer",
						"format" : "int32"
					}, {
						"name" : "h",
						"in" : "query",
						"required" : true,
						"type" : "integer",
						"format" : "int32"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		},
		"/api/geo/reversegeolookup/{lat}/{long}" : {
			"get" : {
				"description" : "Get Mercury Reverse Geocode",
				"operationId" : "Get_Mercury Reverse Geocode_",
				"produces" : [
					"application/json"
				],
				"parameters" : [
					{
						"$ref": "#/parameters/broadcaster"
					},
					{
						"$ref": "#/parameters/screensize"
					},
					{
						"name" : "lat",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format" : "float"
					}, {
						"name" : "long",
						"in" : "path",
						"required" : true,
						"type" : "number",
						"format" : "float"
					}
				],
				"responses" : {
					"200" : {
						"description" : "Default response"
					}
				},
				"security" : []
			}
		}
	}
}
